*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
/app/src/main/res/drawable/beopjeong.png
/app/src/main/res/drawable/sae_do.png
/app/src/main/res/drawable/vs.png
/app/src/main/res/drawable/jijil.png
/app/src/main/res/drawable/ang.png
/app/src/main/res/drawable/museum.png
