<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PNUGuide"
        tools:targetApi="31">
        <!-- 🔑 Google Maps API Key 등록 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity android:name="com.pnu.pnuguide.ui.OnboardingActivity" />
        <activity
            android:name="com.pnu.pnuguide.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pnu.pnuguide.ui.signup.SignUpActivity" />
        <activity android:name=".MainActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.pnu.pnuguide.ui.home.HomeActivity" />
        <activity android:name="com.pnu.pnuguide.ui.map.MapActivity" />
        <activity android:name="com.pnu.pnuguide.ui.map.DirectionsActivity" />
        <activity android:name="com.pnu.pnuguide.ui.profile.ProfileActivity" />
        <activity android:name="com.pnu.pnuguide.ui.course.CourseActivity" />
        <activity android:name="com.pnu.pnuguide.ui.course.PopularActivity" />
        <activity android:name="com.pnu.pnuguide.ui.course.HistoryActivity" />
        <activity android:name="com.pnu.pnuguide.ui.course.StudyActivity" />
        <activity android:name="com.pnu.pnuguide.ui.stamp.StampActivity" />
        <activity android:name="com.pnu.pnuguide.ui.chat.ChatActivity" />
        <activity android:name="com.pnu.pnuguide.ui.course.SpotListActivity" />
        <activity android:name="com.pnu.pnuguide.ui.course.SpotDetailActivity" />
        <activity android:name="com.pnu.pnuguide.ui.quiz.QuizActivity" />
        <activity android:name="com.pnu.pnuguide.ui.profile.EditProfileActivity" />
        <activity android:name="com.pnu.pnuguide.ui.SettingsActivity" />
        <activity android:name="com.pnu.pnuguide.ui.AppInfoActivity" />
    </application>

</manifest>